/.vs
/*.user
/out
/.out
/src/log-roboconf.txt
/src/xcopy.txt
/src/alg.txt
/data/bugs
/src/h_conf
/src/lib-cache
/src/mcu
/src/net-cache
/src/periph
/src/summary
/distr
/src/interfaces.txt
/src/hw_init.txt
/src/log-regexp-test.txt
/src/pugixml-1.9.zip
/src/rapidjson-master.zip
/src/stdout.txt
/src/test_log.txt
/src/umba.txt
/src/vss-vdd.txt
/src/stderr.txt
/tests/log-roboconf.txt
/tests/log-roboconf_mk_netcache.txt
/tests/log-wiz2_BLDC_debug_board.txt
/tests/log_enc.txt
/tests/log-regexp-test.txt
/tests/roboconf.txt
/tests/tmp.txt
/tests/test.txt
/data/units/*.XLS
/data/units/*.csv
/rules/tmp.txt
/rules/default.classes
/rules/default.packages
/rules/default.power
/rules/default_classes.rul_bak
/rules/default_classes.rul_bak2
/src/pdflib
/tests/net-cache
/tests/summary
/tests/h_conf
/tests/lib-cache
/tests/mcu
/tests/periph
/tests/reports
/*.log
/setup_local.bat
/subtree.bat
/setup_local_datasheets.bat
/.build
/conf/roboconf.custom.options
/conf/datasheet-alias-db.custom.txt
/conf/umba-roboconf.custom.options
/tracy