/.vs
/Debug
/Listings
/Objects
/out
/git-status.txt
/status.txt
/test.cppcheck
/umba.uvmpw.uvgui.МартыновАГ
/01_race.uvgui.МартыновАГ
/01_race_freertos.uvgui.МартыновАГ
/01_race_freertos_F103RC.uvproj
/01_race_freertos_F105RC.uvproj
/01_race_freertos_F105RC_bak2.uvproj
/01_race_freertos_F105RC_mdr.uvproj
/01_race_freertos_F105RC_trunked.uvgui.МартыновАГ
/01_race_freertos_F105RC_trunked.uvopt
/EventRecorderStub.scvd
/git-status.bat
